@charset "utf-8";

.satisfiedBox {
    border-radius: 20px;
    width: 60%;
    margin: 0 auto;
    border: 1px solid #fff;
    padding: 50px 0;
    /* background-image: url('../images/frame.png');
    background-position: center center;
    background-size: 100% 100%; */
}
