@charset "utf-8";
* {
    background: rgba(0, 0, 0, 0);
}
.customerTable {
    background: rgba(0, 0, 0, 0);
}
.modifyTitle {
    text-align: center;
    display: block;
    font-size: 24px;
}

tr:hover {
    background-color: transparent !important;
}

.imgBox {
    background-image: url('../images/frame.png');
    background-position: center center;
    width: 420px;
    /* height: 500px; */
    text-align: center;
}
.customInfoBox {
    float: left;
    height: 100%;
    padding: 30px;
    padding-top: 40px;
    width: 400px;
    text-align: left;
    /* height: 500px; */
}
