@charset "utf-8";
*{
    background: rgba(0,0,0,0);
}
.customerTable{
    background: rgba(0,0,0,0);
}
.modifyTitle{
    text-align:center;
    display:block;
}

tr:hover {
    background-color: transparent !important;
}
