@charset "utf-8";
.modifyTitle {
    text-align: center;
    display: block;
    font-size: 24px;
}

.imgBox {
    background-image: url('../images/frame.png');
    background-position: center center;
    width: 420px;
    padding: 30px;
    padding-top: 40px;
    /* height: 500px; */
    text-align: left;
}
.imgOutBox {
    padding: 10px;
}
.imgOutBox img {
    width: 100%;
    margin: 0 auto;
    height: 350px;
    border-radius: 20px;
}
.btnBox {
    text-align: center;
}
.btnBox .v-icon {
    color: #fff !important;
}
.divider {
    margin: 10px auto;
}
