@charset "utf-8";
.registerTitle{
    font-size:24px;
}
.profileImg{
    width:100%;
    display: block; 
    margin:0 auto;
    border-radius:60px;
}
.registBtn, .resetBtn{
    width:80px;
    background-color:#192537;
    color:#fff;
}

.resetBtn{
    margin:0 20px;
}